* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.Cards {
  /* border: dashed 2px violet; */
}

.card {
  border: solid 2px blue;
  margin: 0 auto;
  width: 32rem;
  height: 28rem;
}
