@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  /* brands */
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-one: hsl(37, 97%, 70%);
  --instagram-two: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);

  /* Light Theme */
  --background: hsl(0, 0%, 100%);
  --top-background: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --text-color: hsl(228, 12%, 44%);
  --text-color-dark: hsl(230, 17%, 14%);

  /* toggle */

  --toggle: hsl(230, 22%, 74%);
  --toggle-dark: hsl(230, 17%, 14%);
  --toggle-dark-one: hsl(210, 78%, 56%);
  --toggle-dark-two: hsl(146, 68%, 55%);
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  /* padding: 4rem 2rem; */
  font-size: 1.3rem;
  background-color: var(--background);
}

.dark {
  --background: hsl(230, 17%, 14%);
  --top-background: hsl(232, 19%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --text-color: hsl(228, 34%, 66%);
  --text-color-dark: hsl(0, 0%, 100%);
}

.Header {
  background-color: var(--top-background);
  padding: 4rem 2rem 12rem 2rem;
  margin-bottom: -12rem;
  border-radius: 0 0 2rem 2rem;
}

.Header-title > h1 {
  color: var(--text-color-dark);
  margin-bottom: 0.5rem;
}

.Header-title > h3 {
  margin-bottom: 2rem;
  color: var(--text-color);
}

.Divisor {
  height: 0.5px;
  background: var(--text-color);
}

.DarkMode {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.DarkMode > h3 {
  color: var(--text-color);
}

.DarkMode-button > input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.DarkMode-button > .check {
  position: relative;
  display: block;
  width: 4rem;
  height: 2rem;
  background-color: var(--toggle);
  cursor: pointer;
  border-radius: 2rem;
}

.check::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2.2rem;
  background: var(--card-background);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 2rem;
  transition: 0.5s;
}

.DarkMode-button > input[type="checkbox"]:checked ~ .check {
  background: linear-gradient(
    90deg,
    var(--toggle-dark-one) 30%,
    var(--toggle-dark-two)
  );
}

.DarkMode-button > input[type="checkbox"]:checked ~ .check::before {
  transform: translateX(-2rem);
  background: var(--toggle-dark);
}

.Cards {
  /* border: dashed 2px violet; */
  padding: 2rem;
}

.card {
  /* border: solid 2px blue; */
  margin: 2rem auto;
  width: 100%;
  height: 22rem;
  border-radius: 5px;
  background-color: var(--card-background);
  text-align: center;
  overflow: hidden;
}

.card::before {
  content: "";
  height: 5px;
  display: block;
}

.facebook::before {
  background-color: var(--facebook);
}

.twitter::before {
  background-color: var(--twitter);
}

.instagram::before {
  background: linear-gradient(
    90deg,
    var(--instagram-one) 30%,
    var(--instagram-two)
  );
}

.youtube::before {
  background-color: var(--youTube);
}

.card > .headerCard {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px salmon; */
}

.card > .headerCard > img {
  margin-right: 0.7rem;
}

.card > .headerCard > h3 {
  font-size: 1.2rem;
  color: var(--text-color);
}

.card > .followers {
  /* border: solid 1px teal; */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card > .followers > h1 {
  font-size: 5rem;
  color: var(--text-color-dark);
}

.card > .followers > p {
  color: var(--text-color);
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
}

.card > .averageToday {
  /* border: solid 1px blue; */
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lime-green);
  font-weight: 700;
  font-size: 1.2rem;
}

.card > .averageToday > img {
  height: 0.5rem;
  margin-right: 0.5rem;
}

.Overview-title {
  color: var(--text-color);
  padding: 2rem;
}

.Overview {
  /* border: dashed 1px red; */
  padding: 2rem;
}

.overviewCard {
  /* border: solid 1px pink; */
  margin: 2rem auto;
  padding: 2.5rem;
  width: 100%;
  height: 13rem;
  background-color: var(--card-background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__overviewCard {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-between;
}

.header__overviewCard > h3 {
  color: var(--text-color);
}

.content__overviewCard {
  /* border: solid 1px blue; */
  display: flex;
  justify-content: space-between;
}

.content__overviewCard > h1 {
  color: var(--text-color-dark);
}

.overviewCard__average {
  /* border: solid 1px brown; */
  display: flex;
  align-items: center;
  color: var(--lime-green);
  font-weight: 700;
}

.overviewCard__average > img {
  margin-right: 2px;
}

@media screen and (min-width: 1240px) {
  .Divisor {
    display: none;
  }

  .Header {
    padding: 5rem 15rem 15rem 15rem;
    margin-bottom: -12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header-title > h1 {
    margin: 0;
  }

  .Header-title > h3 {
    margin: 0;
  }

  .DarkMode {
    margin: 0;
  }

  .DarkMode > h3 {
    margin-right: 2rem;
  }

  .Cards {
    margin-bottom: 4rem;
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
  }

  .card {
    margin: 0;
    width: 25rem;
    height: 20rem;
  }

  .card > .averageToday {
    margin-top: 2rem;
  }

  .Overview-title {
    margin-bottom: 2rem;
    padding: 0 15rem;
  }

  .Overview {
    padding: 0 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .overviewCard {
    margin: 0;
    margin-bottom: 2rem;
    width: 25rem;
  }
}
